
.btn {
    cursor: pointer; 
    border: 0px solid rgb(0, 0, 0); 
    font-family: "Bebas Neue";
    font-size: 34px; 
    color: rgb(255, 255, 255); 
    padding: 3% 5%;  
    margin-bottom: 5%;
    transition: 2057ms; 
    width: 300px; 
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px; 
    border-radius: 15px; 
    background: rgb(90, 170, 250); 
    font-weight: 100; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
}

.btn:hover{                               
    color: rgb(255, 255, 255);
    width: 337px;
    background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
    border-style: solid;
     }
                            
.link-no-underline {
text-decoration: none;
}            
                        

                    